body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 300px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #007bff;
  color: white;
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.indicador.mais-alto {
  color: #2e7d32 !important; /* Verde Materialize escuro com !important para garantir aplicação */
}
.indicador.mais-baixo {
  color: red !important;
}
.indicador.igual {
  color: gray !important;
}

